extends layout_drjart

block appcontent
  .icon.sample-icon.icon_active-users
  .icon.sample-icon.icon_addthis
  .icon.sample-icon.icon_airbnb_outline
  .icon.sample-icon.icon_arrow_left
  .icon.sample-icon.icon_arrow_right
  .icon.sample-icon.icon_arrow_up
  .icon.sample-icon.icon_bigthumbs
  .icon.sample-icon.icon_brush_arrow_left
  .icon.sample-icon.icon_close
  .icon.sample-icon.icon_community
  .icon.sample-icon.icon_create-symbol
  .icon.sample-icon.icon_eyedropper
  .icon.sample-icon.icon_facebook
  .icon.sample-icon.icon_googleplus
  .icon.sample-icon.icon_instagram
  .icon.sample-icon.icon_instagram_outline
  .icon.sample-icon.icon_location_pin
  .icon.sample-icon.icon_logo
  .icon.sample-icon.icon_logo2
  .icon.sample-icon.icon_logo_airbnb
  .icon.sample-icon.icon_magnifier
  .icon.sample-icon.icon_menu
  .icon.sample-icon.icon_pinterest
  .icon.sample-icon.icon_play
  .icon.sample-icon.icon_popular-share
  .icon.sample-icon.icon_reload
  .icon.sample-icon.icon_save
  .icon.sample-icon.icon_smallthumbs
  .icon.sample-icon.icon_stamp-arrow-left
  .icon.sample-icon.icon_stamp-arrow-right
  .icon.sample-icon.icon_symbol
  .icon.sample-icon.icon_tool-color-picker
  .icon.sample-icon.icon_tool-expand
  .icon.sample-icon.icon_tools
  .icon.sample-icon.icon_twitter
  .icon.sample-icon.icon_twitter_outline
  .icon.sample-icon.icon_users
  .icon.sample-icon.icon_wordmark
  .icon.sample-icon.icon_youtube
  .icon.sample-icon.icon_zoomdown
  .icon.sample-icon.icon_zoomup