extends layout_drjart

block appcontent
  .popup_article.instagram_popup(style="opacity:1")
    .row.collapse
      .small-12.medium-8.columns
        img.modal_img(alt='11084652_1433591950288461_1724482450_n', src='https://s3.amazonaws.com/drjartus-production-s3/public/system/instagrams/medias/661/original/11084652_1433591950288461_1724482450_n.jpg')
      .small-12.medium-4.columns
        .ri
          .wrapper
            .date
              | 0421
            .link_fb
              | SHARE 
              a(href='https://www.facebook.com/sharer/sharer.php?u=https://instagram.com/p/1wMwZCAILO/', target='_blank', title='Share on Facebook')
                img(alt='Icon-facebook', src='http://us.drjart.com/assets/icon-facebook-0be3eb7f0c2aaddd4c1e8915c6f36bef.png', style='height:16px')
              a(href='https://twitter.com/intent/tweet?text=https://instagram.com/p/1wMwZCAILO/', target='_blank', title='Share on Twitter')
                img(alt='Icon-twitter', src='http://us.drjart.com/assets/icon-twitter-da6849516c0667629869630184771fde.png', style='height:16px')
            .text
              | Spring vibes all around today
            .info
              | Visit us on instagram as we capture the culture & lifestyle of New York City!  
              a(href='http://instagram.com/drjartus', target='_blank')
                | http://instagram.com/
                br
                | drjartus