html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
}

body {
line-height:1;
text-align:left;
font:12px Helvetica, sans-serif;
background-color:#fff;
-webkit-font-smoothing:subpixel-antialiased;
overflow-x:hidden;
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

:focus {
outline:0;
}

ins {
text-decoration:none;
}

del {
text-decoration:line-through;
}

table {
border-collapse:collapse;
border-spacing:0;
}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
border:0;
outline:none;
vertical-align:top;
margin:0;
padding:0;
}

.fancybox-wrap {
position:absolute;
top:0;
left:0;
z-index:50020;
}

.fancybox-skin {
position:relative;
background:#f9f9f9;
color:#444;
text-shadow:none;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.fancybox-opened {
z-index:8030;
}

.fancybox-opened .fancybox-skin {
-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);
-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);
box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.fancybox-type-iframe .fancybox-inner {
-webkit-overflow-scrolling:touch;
}

.fancybox-error {
color:#444;
font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
white-space:nowrap;
margin:0;
padding:15px;
}

.fancybox-image,.fancybox-iframe {
display:block;
width:100%;
height:100%;
}

.fancybox-image {
max-width:100%;
max-height:100%;
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
background-image:url(/assets/fancybox_sprite.png);
}

#fancybox-loading {
position:fixed;
top:50%;
left:50%;
margin-top:-22px;
margin-left:-22px;
background-position:0 -108px;
opacity:0.8;
cursor:pointer;
z-index:8060;
}

#fancybox-loading div {
width:44px;
height:44px;
background:url(/assets/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
position:absolute;
top:-18px;
right:-18px;
width:36px;
height:36px;
cursor:pointer;
z-index:8040;
}

.fancybox-nav {
position:absolute;
top:0;
width:40%;
height:100%;
cursor:pointer;
text-decoration:none;
background:transparent url(assets/blank.gif);
-webkit-tap-highlight-color:rgba(0,0,0,0);
z-index:8040;
}

.fancybox-prev {
left:0;
}

.fancybox-next {
right:0;
}

.fancybox-nav span {
position:absolute;
top:50%;
width:36px;
height:34px;
margin-top:-18px;
cursor:pointer;
z-index:8040;
visibility:hidden;
}

.fancybox-prev span {
left:10px;
background-position:0 -36px;
}

.fancybox-next span {
right:10px;
background-position:0 -72px;
}

.fancybox-tmp {
position:absolute;
top:-99999px;
left:-99999px;
visibility:hidden;
max-width:99999px;
max-height:99999px;
overflow:visible!important;
}

.fancybox-overlay {
position:absolute;
top:0;
left:0;
overflow:hidden;
display:none;
z-index:10000;
background:url(/assets/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
position:fixed;
bottom:0;
right:0;
}

.fancybox-lock .fancybox-overlay {
overflow:auto;
overflow-y:scroll;
}

.fancybox-title {
visibility:hidden;
font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
position:relative;
text-shadow:none;
z-index:8050;
}

.fancybox-title-float-wrap {
position:absolute;
bottom:0;
right:50%;
margin-bottom:-35px;
z-index:8050;
text-align:center;
}

.fancybox-title-float-wrap .child {
display:inline-block;
margin-right:-100%;
background:rgba(0,0,0,0.8);
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
text-shadow:0 1px 2px #222;
color:#FFF;
font-weight:700;
line-height:24px;
white-space:nowrap;
padding:2px 20px;
}

.fancybox-title-outside-wrap {
position:relative;
margin-top:10px;
color:#fff;
}

.fancybox-title-inside-wrap {
padding-top:10px;
}

.fancybox-title-over-wrap {
position:absolute;
bottom:0;
left:0;
color:#fff;
background:rgba(0,0,0,0.8);
padding:10px;
}

#fancybox-buttons {
position:fixed;
left:0;
width:100%;
z-index:8050;
}

#fancybox-buttons.top {
top:10px;
}

#fancybox-buttons.bottom {
bottom:10px;
}

#fancybox-buttons ul {
display:block;
width:166px;
height:30px;
list-style:none;
border:1px solid #111;
border-radius:3px;
-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.05);
-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.05);
box-shadow:inset 0 0 0 1px rgba(255,255,255,0.05);
background:linear-gradient(top,#4440%,#34343450%,#29292950%,#333100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444',endColorstr='#222222',GradientType=0);
margin:0 auto;
padding:0;
}

#fancybox-buttons ul li {
float:left;
margin:0;
padding:0;
}

#fancybox-buttons a {
display:block;
width:30px;
height:30px;
text-indent:-9999px;
background-image:url(/assets/fancybox_buttons.png);
background-repeat:no-repeat;
outline:none;
opacity:0.8;
}

#fancybox-buttons a.btnPrev {
background-position:5px 0;
}

#fancybox-buttons a.btnNext {
background-position:-33px 0;
border-right:1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
background-position:0 -30px;
}

#fancybox-buttons a.btnPlayOn {
background-position:-30px -30px;
}

#fancybox-buttons a.btnToggle {
background-position:3px -60px;
border-left:1px solid #111;
border-right:1px solid #3e3e3e;
width:35px;
}

#fancybox-buttons a.btnToggleOn {
background-position:-27px -60px;
}

#fancybox-buttons a.btnClose {
border-left:1px solid #111;
width:35px;
background-position:-56px 0;
}

#fancybox-buttons a.btnDisabled {
opacity:0.4;
cursor:default;
}

#fancybox-thumbs {
position:fixed;
left:0;
width:100%;
overflow:hidden;
z-index:8050;
}

#fancybox-thumbs.bottom {
bottom:2px;
}

#fancybox-thumbs.top {
top:2px;
}

#fancybox-thumbs ul {
position:relative;
list-style:none;
margin:0;
padding:0;
}

#fancybox-thumbs ul li {
float:left;
opacity:0.5;
padding:1px;
}

#fancybox-thumbs ul li.active {
opacity:0.75;
border:1px solid #fff;
padding:0;
}

#fancybox-thumbs ul li a {
display:block;
position:relative;
overflow:hidden;
border:1px solid #222;
background:#111;
outline:none;
}

#fancybox-thumbs ul li img {
display:block;
position:relative;
border:0;
padding:0;
}

.clear:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

body,div,p,input,textarea {
font-family:"Apercu Regular", Calibri, sans-serif;
font-size-adjust:0.508;
font-weight:400;
font-style:normal;
font-size:17px;
}

input {
-webkit-appearance:none;
border-radius:0;
}

::-webkit-input-placeholder {
color:#999;
text-overflow:ellipsis;
}

div.CB {
clear:both!important;
width:0;
height:0;
margin:0;
padding:0;
}

a,a:hover {
text-decoration:none;
color:#999;
}

a img {
border:none;
}

a:hover {
opacity:.5;
}

.bl {
border-left:1px solid #eee;
}

.br {
border-right:1px solid #eee;
}

.nb {
border:0!important;
}

.focus {
border-color:#ff5800!important;
}

.md_back {
background-color:#000;
opacity:0.7;
filter:alpha(opacity=50);
width:100%;
height:100%;
left:0;
top:0;
position:fixed;
z-index:10000;
}

.md {
position:fixed;
z-index:10001;
background-color:#FFF;
left:50%;
top:30px;
}

.mdL {
position:absolute;
z-index:10001;
background-color:#FFF;
left:50%;
top:160px;
}

.mdLFixed {
position:fixed;
z-index:10001;
background-color:#FFF;
left:50%;
top:100px;
}

#md_product {
width:90%;
max-width:1000px;
height:500px;
left:0;
}

#md_product.waiting,#md_article.waiting {
background:#fff url(/assets/index_ajaxloader.gif) no-repeat 50% 50%;
}

hr#company {
width:0;
height:0;
margin:0;
padding:0;
}

.mailinglist {
background-color:#7acdc8;
width:100%;
height:100%;
position:relative;
}

.mailinglist .icon {
position:absolute;
left:72px;
top:90px;
}

.mailinglist .text {
position:absolute;
left:20px;
top:260px;
color:#FFF;
font-size:18px;
line-height:160%;
}

.mailinglist .mail_form {
position:absolute;
left:20px;
bottom:15px;
}

.mailinglist .mail_form input.email_text {
font-size:16px;
border:none;
color:#999;
width:173px;
font-family:"Apercu Bold";
padding:13px;
}

.mailinglist .mail_form input {
font-size:16px;
border:none;
color:#999;
padding:13px;
}

.mailinglist .mail_form div.form-actions {
margin-top:35px;
}

.mailinglist .mail_form div.form-actions input {
color:#FFF;
font-size:12px;
text-align:left;
cursor:pointer;
border:none;
background:url(http://static-assets.benscrub.com/static2/images/email_btn_arrow.png) 0 8px no-repeat;
padding:4px 0 0 12px;
}

div#load_more_area {
height:236px;
background:url(http://static-assets.benscrub.com/static2/images/loadmore_line.png) repeat-x 0 140px;
margin:0 auto;
}

#history_carousel_wrapper {
position:relative;
width:989px;
height:570px;
margin:0 auto;
}

#history_carousel_wrapper #history_carousel {
position:relative;
width:989px;
height:487px;
}

#history_carousel_wrapper #history_carousel .wrapper .text {
position:absolute;
left:50%;
top:50%;
width:247px;
height:247px;
margin-left:-143px;
margin-top:-143px;
background-color:#FFF;
padding:20px;
}

#history_carousel_wrapper #history_carousel .wrapper .text h4 {
font-size:72px;
color:#8dc63f;
font-weight:400;
font-family:"Apercu Bold";
}

#history_carousel_wrapper #history_carousel .slidesjs-previous {
position:absolute;
left:10px;
top:50%;
margin-top:-20px;
z-index:500;
text-indent:-9999px;
width:41px;
height:41px;
background:url(/assets/carousel_previous.png) no-repeat;
}

#history_carousel_wrapper div.pagination {
width:395px;
height:60px;
margin:15px auto;
}

#history_carousel_wrapper div.pagination ul li {
display:inline-block;
cursor:pointer;
background:url(/assets/about_pagination_normal.png) no-repeat;
width:50px;
height:50px;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-ie-transition:all .5s ease;
-o-transition:all .5s ease;
transition:all .5s ease;
margin:0 0 0 -8px;
padding:11px 0 0 8px;
}

#history_carousel_wrapper div.pagination ul li.active {
background:url(/assets/about_pagination_selected.png) no-repeat;
}

#history_carousel_wrapper div.pagination ul li.last {
background:url(/assets/about_pagination_normal_last.png) no-repeat;
}

#history_carousel_wrapper div.pagination ul li.active.last {
background:url(/assets/about_pagination_selected_last.png) no-repeat;
}

div#how_all_it_began_wrapper .wrapper .text {
font-family:"Apercu Bold";
font-size:72px;
color:#fff200;
position:absolute;
left:50%;
top:50%;
width:475px;
height:180px;
margin-left:-237px;
margin-top:-90px;
text-align:center;
}

div#how_all_it_began_wrapper .desc .desc_wrapper {
padding:30px 80px 0 20px;
}

div#our_dermatologists_wrapper .wrapper .text {
font-family:"Apercu Bold";
font-size:72px;
color:#662e91;
position:absolute;
left:50%;
top:50%;
width:475px;
height:180px;
margin-left:-237px;
margin-top:-90px;
text-align:center;
}

div#our_dermatologists_wrapper .dr_list {
background-color:#999;
margin:10px auto 0;
}

div#our_dermatologists_wrapper .dr_list .dr_wrapper h4 {
font-size:12px;
color:#FFF;
font-weight:400;
line-height:150%;
}

div#our_dermatologists_wrapper .dr_list .dr_wrapper div.column {
float:left;
width:50%;
color:#FFF;
margin-top:10px;
font-size:14px;
line-height:157%;
}

div#our_dermatologists_wrapper .main_dr {
float:left;
width:50%;
margin-top:15px;
}

div#our_dermatologists_wrapper .main_dr div.dr_desc div.desc_wrapper {
height:207px;
background-color:#516494;
padding:20px;
}

div#our_dermatologists_wrapper .main_dr div.dr_desc div.desc_wrapper h4 {
font-family:"Apercu Bold";
color:#FFF;
margin-bottom:20px;
}

div#our_dermatologists_wrapper .main_dr div.dr_desc div.desc_wrapper p {
font-size:14px;
color:#FFF;
}

div#our_dermatologists_wrapper div.desc {
margin-top:15px;
float:left;
width:50%;
}

div#our_dermatologists_wrapper div.desc .desc_wrapper {
padding:15px 80px 0 20px;
}

div#distribution_channel_wrapper {
width:989px;
position:relative;
margin:200px auto 0;
}

div#distribution_channel_wrapper div.desc {
margin-top:20px;
font-size:14px;
line-height:160%;
}

.carousel .wrapper .carousel_text,#main_product_carousel_list .wrapper .carousel_text {
position:absolute;
bottom:23px;
left:20px;
font-size:18px;
line-height:160%;
color:#FFF;
}

.carousel .slidesjs-previous,#main_product_carousel_list .slidesjs-previous {
position:absolute;
left:10px;
top:50%;
margin-top:-20px;
z-index:500;
text-indent:-9999px;
width:41px;
height:41px;
background:url(http://static-assets.benscrub.com/static2/images/carousel_previous.png) no-repeat;
}

.carousel .slidesjs-pagination,#main_product_carousel_list .slidesjs-pagination {
position:absolute;
bottom:10px;
right:10px;
z-index:500;
}

.carousel .slidesjs-pagination li,#main_product_carousel_list .slidesjs-pagination li {
display:inline;
margin-right:10px;
}

.carousel .slidesjs-pagination li a,#main_product_carousel_list .slidesjs-pagination li a {
text-indent:-9999px;
display:inline-block;
width:10px;
height:10px;
background:url(http://static-assets.benscrub.com/static2/images/carousel_unselected.png) no-repeat;
}

.carousel .slidesjs-pagination li a.active,#main_product_carousel_list .slidesjs-pagination li a.active {
background:url(http://static-assets.benscrub.com/static2/images/carousel_selected.png) no-repeat;
}

.header.mobile {
height:70px;
background-color:#FFF;
position:fixed;
width:100%;
top:0;
z-index:9999;
padding:7px 20px 20px;
}

.header.mobile hr {
position:absolute;
top:24px;
border:0;
border-top:2px solid #000;
width:100%;
}

.header.mobile .info_header {
position:absolute;
height:50px;
left:0;
top:0;
}

.header.mobile .links_header {
position:absolute;
height:50px;
right:-10px;
top:0;
}

.header.mobile .now_link {
left:0;
top:45px;
position:absolute;
}

.header.mobile .logo_wrapper {
position:absolute;
left:50%;
margin-left:-67px;
top:45px;
}

.header.mobile .logo_wrapper a.logo_btn img {
width:134px;
}

.header.mobile .products_link {
right:0;
top:45px;
position:absolute;
}

.content {
max-width:2560px;
min-width:487px;
margin:236px auto auto;
padding:0 10px;
}

#products_content.content {
max-width:1200px;
}

#products_content_wrapper {
max-width:1200px;
margin:0 auto;
}

.content_company {
max-width:989px;
margin:0 auto;
}

.unit {
float:left;
overflow:hidden;
margin:0 15px 15px 0;
}

.inner {
margin:15px;
}

.back_top {
position:fixed;
right:25px;
bottom:10px;
z-index:3000;
background:#FFF;
padding:10px;
}

.offseth {
margin-left:245px;
}

.offsetv {
margin-top:245px;
}

.green {
background-color:#7acdc8;
color:#fff;
}

.violet {
background-color:#b60c6a;
color:#fff;
}

.violet a {
color:#fff;
}

.single {
width:230px;
height:230px;
}

.doubleh {
width:475px;
height:230px;
}

.doublev {
width:230px;
height:475px;
}

.double {
width:475px;
height:475px;
}

.quadh {
width:965px;
height:230px;
}

.single-b {
width:224px;
height:224px;
border:3px solid #000;
}

.doubleh-b {
width:469px;
height:224px;
border:3px solid #000;
}

.doublev-b {
width:224px;
height:469px;
border:3px solid #000;
}

.double-b {
width:469px;
height:469px;
border:3px solid #000;
}

.aleft {
text-align:left;
}

.aright {
text-align:right;
}

.acenter {
text-align:center;
}

h1,h2,h3,h4,h5,h6 {
line-height:1.1em;
}

h1 {
font-size:31px;
font-weight:700;
}

h2 {
font-size:22px;
font-weight:700;
}

h3 {
font-size:22px;
font-weight:400;
}

h4 {
font-size:16px;
font-weight:700;
}

h5 {
font-size:16px;
font-weight:400;
}

h2 a {
color:#b60c6a;
}

h3 a {
color:#7acdc8;
}

.size_1x1 {
width:236px;
height:236px;
}

.size_2x1 {
width:487px;
height:236px;
}

.size_1x2 {
width:236px;
height:487px;
}

.size_1x3 {
width:236px;
height:738px;
}

.size_2x2 {
width:487px;
height:487px;
}

.size_2x3 {
width:487px;
height:738px;
}

.size_3x2 {
width:738px;
height:487px;
}

.size_4x2 {
width:959px;
height:487px;
}

.date {
position:absolute;
width:100px;
height:35px;
font-size:20px;
line-height:35px;
background-color:#fff;
padding-left:10px;
color:#000;
z-index:999;
}

.article .article_tweet {
background-color:#fff;
border:3px solid #000;
width:230px;
height:230px;
}

.article .article_tweet .twitter-text {
top:2.4em;
left:15px;
position:absolute;
width:200px;
}

.article .article_facebook .facebook_photo .date {
background-color:#FFF;
color:#000;
font-size:20px;
height:35px;
line-height:35px;
position:absolute;
width:90px;
z-index:1;
top:0;
left:0;
padding-left:10px;
}

.article .article_facebook .facebook_photo .textfloat {
position:absolute;
left:10px;
top:44px;
width:218px;
}

.article .article_facebook .facebook_text .date {
background-color:#FFF;
color:#000;
font-size:20px;
height:35px;
line-height:35px;
position:absolute;
width:100px;
z-index:1;
top:3px;
left:3px;
}

.article .article_facebook .facebook_text .icon {
right:2px;
}

.article .article_facebook .facebook_text .fb_text_wrapper .fb_padding_wrapper {
padding:44px 10px 10px;
}

.product {
margin-bottom:15px;
margin-right:15px;
}

.product div.wrapper {
position:relative;
width:100%;
height:100%;
}

.product div.wrapper div.text {
cursor:pointer;
display:none;
position:absolute;
background-color:rgba(255,255,255,0.75);
left:0;
top:0;
width:100%;
height:100%;
}

.product div.wrapper div.text div.title {
position:absolute;
top:45%;
left:50%;
width:230px;
margin-left:-115px;
text-align:center;
}

.product_detail {
height:540px;
}

.product_detail .wrapper div.left div.picture_area {
height:450px;
}

.product_detail .wrapper div.left div.picture_area div.padding_wrapper {
padding-right:10px;
}

.product_detail .wrapper div.left div.picture_area div.padding_wrapper div.pic {
padding:0 20px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector {
position:relative;
height:44px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.color_area {
border-top:1px solid #000;
border-bottom:1px solid #000;
position:absolute;
width:200px;
height:30px;
left:215px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.color_area .dropdown {
position:absolute;
top:1px;
left:93px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.color_area .dropdown a {
color:#959595;
font-size:12px;
display:block;
padding:5px 10px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.color_area .dropdown a.current {
color:#959595;
font-size:12px;
display:block;
width:90px;
border:1px solid #FFF;
padding:5px 10px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area {
border-top:1px solid #000;
border-bottom:1px solid #000;
position:absolute;
width:200px;
height:30px;
left:0;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area .dropdown {
position:absolute;
top:1px;
left:125px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area .dropdown a {
color:#959595;
font-size:12px;
display:block;
background:url(/assets/arrow_down.png) 90px 13px no-repeat;
padding:5px 10px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area .dropdown a.current {
color:#959595;
font-size:12px;
display:block;
background:url(/assets/arrow_down.png) 90px 13px no-repeat;
width:54px;
border:1px solid #FFF;
padding:5px 10px;
}

.product_detail .wrapper div.right div.title_area {
margin-top:10px;
margin-bottom:10px;
}

.product_detail .wrapper div.right div.title_area h3 {
font-size:24px;
}

.product_detail .wrapper div.right div.sephora_link {
margin:15px 0 40px;
}

.product_detail .wrapper div.right div.tab {
position:relative;
width:100%;
height:34px;
}

.product_detail .wrapper div.right div.tab div.list {
position:absolute;
z-index:8000;
display:inline-block;
}

.product_detail .wrapper div.right div.tab div.list a {
font-size:12px;
color:#000;
font-family:"Apercu Bold";
background-color:#FFF;
border:1px solid #000;
display:inline-block;
text-align:center;
padding:8px 13px;
}

.product_detail .wrapper div.right div.tab div.list.active a {
background-color:#FFF;
border:1px solid #000;
font-family:"Apercu Bold";
display:inline-block;
border-bottom:1px solid #FFF;
padding:8px 13px;
}

.product_detail .wrapper div.right div.tab div#desc_list {
left:0;
top:2px;
}

.product_detail .wrapper div.right div.tab div#how_list {
left:33%;
top:2px;
}

.product_detail .wrapper div.right div.tab div#ingre_list {
left:66%;
top:2px;
}

.product_detail .wrapper div.right .description_area {
background-color:#FFF;
border:1px solid #000;
margin-top:-1px;
height:300px;
overflow-y:scroll;
padding:13px;
}

.dropdown-menu {
position:absolute;
top:-20%;
left:0;
z-index:1000;
display:none;
float:left;
min-width:160px;
list-style:none;
background-color:#fff;
border:1px solid rgba(0,0,0,0.2);
border-right-width:2px;
border-bottom-width:2px;
-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
box-shadow:0 5px 10px rgba(0,0,0,0.2);
-webkit-background-clip:padding-box;
-moz-background-clip:padding;
background-clip:padding-box;
margin:2px 0 0;
padding:5px 0;
}

.nav-pills .dropdown-menu {
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
}

.open {
z-index:1000;
}

.open>.dropdown-menu {
display:block;
}

.isotope-item {
z-index:2;
}

.isotope-hidden.isotope-item {
pointer-events:none;
z-index:1;
}

.tumblr {
background-image:url(/assets/icon-tumblr.png);
}

.facebook {
background-image:url(/assets/icon-facebook.png);
}

.twitter {
background-image:url(/assets/icon-twitter.png);
}

.twitter2 {
background-image:url(/assets/icon-twitter2.png);
}

.instagram {
background-image:url(/assets/icon-instagram.png);
}

.instagram2 {
background-image:url(/assets/icon-instagram2.png);
}

.logo {
width:135px;
height:30px;
}

.social {
background-size:17px 17px;
background-repeat:none;
float:right;
width:16px;
height:16px;
margin-left:5px;
}

.icon {
width:17px;
height:17px;
background-size:17px 17px;
background-repeat:none;
position:absolute;
top:10px;
right:10px;
z-index:999;
}

.icon:hover,.social:hover {
opacity:.7;
}

.wall {
padding-bottom:0;
}

#keiko {
background-image:url(/assets/keiko.png);
}

#alexis {
background-image:url(/assets/alexis.png);
}

#twitter {
margin:-1px 0 0 -2px;
}

#instagram iframe {
margin:30px 0 0 38px;
}

#left {
position:absolute;
z-index:999;
left:50%;
width:35px;
height:230px;
background-color:#000;
margin-left:-483px;
text-align:right;
}

#right {
position:absolute;
z-index:999;
left:50%;
width:35px;
height:230px;
background-color:#000;
margin-left:447px;
text-align:left;
}

.btn {
margin-top:100px;
}

.btn:hover {
opacity:.7;
cursor:pointer;
}

div.footer {
max-width:2560px;
border-top:2px solid #000;
margin:20px auto 0;
padding:0;
}

div.footer div.wrapper {
margin-top:15px;
padding:0;
}

div.footer div.wrapper .footer_content {
float:left;
width:230px;
height:320px;
margin-right:15px;
margin-bottom:15px;
font-size:14px;
line-height:150%;
}

div.footer div.wrapper .footer_content h4 {
font-family:"Apercu Bold";
font-size:14px;
line-height:130%;
}

div.footer div.wrapper .footer_content h4.title {
margin-bottom:20px;
}

div.footer div.wrapper .footer_content p {
font-size:14px;
line-height:150%;
margin-bottom:10px;
}

div.footer div.wrapper .footer_content a {
font-family:"Apercu Bold";
color:#000;
}

div.footer div.wrapper .mailinglist_footer.footer_content {
margin-right:0;
float:right;
}

div.footer div.wrapper .mailinglist_footer.footer_content div.controls input.email_text {
border:2px solid #000;
font-size:14px;
color:#000;
width:180px;
padding:10px;
}

div.footer div.wrapper .mailinglist_footer.footer_content div.form-actions input {
color:#000;
font-size:12px;
text-align:left;
background:none;
cursor:pointer;
border:none;
padding:8px 0;
}

.gray {
background-color:#f5f5f5;
}

.company h3 {
font-size:18px;
margin-bottom:1em;
}

.company em {
font-weight:400;
font-style:normal;
border-bottom:2px solid;
}

.company p {
margin:9px 0;
}

.about {
line-height:26px;
}

.about p.list {
line-height:40px;
margin:30px 0 30px 30px;
}

.about .list-icon {
margin:0 10px 0 0;
}

.about .small {
font-size:14px;
line-height:18px;
margin:0;
}

.about .small .big {
font-size:18px;
}

.about .doc {
margin:3em 0 3em 80px;
}

.about .doclist {
width:33%;
float:left;
}

.about .drsj {
float:left;
margin-top:27px;
}

div.right_loader {
width:10px;
height:100%;
position:fixed;
right:0;
top:0;
background-color:#eee;
z-index:10000;
}

div.left_loader {
width:10px;
height:100%;
position:fixed;
left:0;
top:0;
background-color:#eee;
z-index:10000;
}

div.right_loader.waiting {
background:rgba(0,0,0,0.7) url(http://static-assets.benscrub.com/static2/images/loading_for_modal_product.png) center center no-repeat;
}

div.left_loader.waiting {
background:rgba(0,0,0,0.7) url(/assets/loading_for_modal_now.png) center center no-repeat;
}

.category_description {
background-color:#000;
margin:0 15px 15px 0;
}

.category_description .wrapper .inner {
width:130px;
height:130px;
background-color:#FFF;
padding:20px;
}

.category_description .wrapper .inner h4 {
font-weight:400;
font-family:"Apercu Bold";
}

.filter_by {
background-color:#87BDDF;
}

.filter_by .line_area.second {
margin-top:70px;
}

.filter_by .line_area {
font-size:14px;
color:#FFF;
margin:10px 0;
padding:0 20px;
}

.filter_by .line_area h3.sort_by_title {
font-size:18px;
float:left;
color:#FFF;
}

.filter_by .line_area h4 {
font-size:14px;
cursor:pointer;
color:#FFF;
float:left;
font-weight:400;
}

.filter_by .line_area div.dropdown {
float:right;
line-height:12px;
width:100px;
text-align:right;
position:relative;
margin:0;
padding:0;
}

.filter_by .line_area div.dropdown a.dropdown-toggle {
color:#FFF;
font-size:12px;
}

.filter_by .line_area div.dropdown .dropdown-menu {
min-width:110px!important;
top:22px;
left:-12px;
margin:0;
padding:0;
}

.filter_by .line_area div.dropdown .dropdown-menu li {
cursor:pointer;
padding:10px;
}

.filter_by .line_area div.dropdown .dropdown-menu li a {
font-size:12.5px;
color:#000;
}

.filter_by .line_area div.dropdown .dropdown-menu li:hover {
background-color:#e2e2e2;
}

.filter_by .line_area hr {
border:none;
border-bottom:1px solid #FFF;
}

.filter_by .line_area.first {
margin-top:0;
padding-top:20px;
}

.concern {
margin-top:15px;
background-color:#999;
}

.concern ul.list_area li {
cursor:pointer;
background:url(/assets/category_filter_li.png) 0 -1px no-repeat;
padding-left:20px;
font-size:14px;
color:#FFF;
margin-bottom:7px;
}

.concern ul.list_area li.active {
background-position:0 -21px;
}

.popup_article {
opacity:0;
}

.popup_article .ri {
float:left;
width:250px;
height:10px;
}

.popup_article .ri .wrapper .date {
position:absolute;
top:7px;
left:0;
}

.popup_article .ri .wrapper .link_fb {
position:absolute;
top:16px;
left:168px;
width:105px;
font-size:12px;
}

.popup_article .ri .wrapper .link_fb img {
vertical-align:middle;
margin-top:-3px;
}

.popup_article .ri .wrapper .text {
width:210px;
position:absolute;
top:50px;
left:10px;
word-break:break-word;
-webkit-hyphens:auto;
-moz-hyphens:auto;
hyphens:auto;
}

.popup_article .ri .wrapper .info {
width:210px;
position:absolute;
top:427px;
left:10px;
font-size:14px;
}

.popup_article .ri .wrapper .info.instagram {
top:460px;
}

.textfloatwhite {
color:#FFF!important;
}

.textfloatblack {
color:#000!important;
}

.store_wrapper {
max-width:1000px;
margin:0 auto;
}

.store_wrapper .fl {
float:left;
margin-bottom:15px;
}

.product_detail ul.dropdown-menu {
min-width:110px;
}

.product_detail a.dropdown-toggle,.product_detail a.dropdown-toggle:hover {
width:85px;
}

.fancybox-outer,.fancybox-inner,#history_carousel_wrapper #history_carousel .wrapper,.carousel .wrapper,#main_product_carousel_list .wrapper,.header.mobile .info_header .wrapper,.header.mobile .links_header .wrapper,.header.mobile .wrapper,.dropdown,.popup_article .ri .wrapper {
position:relative;
}

.fancybox-inner,.fancybox-lock {
overflow:hidden;
}

.fancybox-nav:hover span,.fancybox-opened .fancybox-title {
visibility:visible;
}

#fancybox-buttons a:hover,#fancybox-thumbs ul li:hover,.product_detail .wrapper div.right div.tab div.list a:hover,.product_detail .wrapper div.right div.tab div.list.active a:hover {
opacity:1;
}

:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder {
color:#999!important;
text-overflow:ellipsis;
}

.fl,.popup_article .lf {
float:left;
}

.fr,.filter_by .line_area .sort_key {
float:right;
}

#md_product a.delete,#md_article a.delete {
position:absolute;
width:25px;
height:25px;
right:-12px;
top:-12px;
text-indent:-9999px;
background:url(/assets/close_btn.png) 0 0 no-repeat;
overflow:hidden;
}

#md_product a.delete:hover,#md_article a.delete:hover,.fancybox-close:hover {
opacity:1!important;
}

#history_carousel_wrapper #here_is_our_story,div#our_dermatologists_wrapper #our_dermatologists {
position:absolute;
top:-63px;
left:20px;
z-index:5000;
}

#history_carousel_wrapper #history_carousel .wrapper .text p,div#how_all_it_began_wrapper .desc .desc_wrapper p,div#our_dermatologists_wrapper div.desc .desc_wrapper p,.product_detail .wrapper div.right .description_area .description p,.category_description .wrapper .inner p {
font-size:14px;
line-height:160%;
}

#history_carousel_wrapper #history_carousel .wrapper img,div#our_dermatologists_wrapper .wrapper img,div#our_dermatologists_wrapper .main_dr div.image img,.carousel .wrapper img,#main_product_carousel_list .wrapper img,.article .article_instagraam div.instagram_photo img,.article .article_facebook .facebook_photo a img,.product div.wrapper div.photo a img,.product_detail .wrapper div.left div.picture_area div.padding_wrapper div.pic img {
width:100%;
height:100%;
}

#history_carousel_wrapper #history_carousel .slidesjs-next,.carousel .slidesjs-next,#main_product_carousel_list .slidesjs-next {
position:absolute;
right:10px;
top:50%;
z-index:500;
margin-top:-20px;
text-indent:-9999px;
width:41px;
height:41px;
background:url(http://static-assets.benscrub.com/static2/images/carousel_next.png) no-repeat;
}

#history_carousel_wrapper div.pagination ul li span,.product_detail .wrapper div.right div.sephora_link a {
color:#000;
font-size:14px;
}

div#how_all_it_began_wrapper,div#our_dermatologists_wrapper {
width:989px;
position:relative;
margin:180px auto 0;
}

div#how_all_it_began_wrapper #how_all_it_began,div#distribution_channel_wrapper #distribution_channel {
position:absolute;
top:-63px;
right:20px;
z-index:5000;
}

div#how_all_it_began_wrapper .wrapper,div#our_dermatologists_wrapper .wrapper,div#distribution_channel_wrapper .wrapper {
width:989px;
position:relative;
height:487px;
}

div#how_all_it_began_wrapper .desc,div#our_dermatologists_wrapper .main_dr div.dr_desc,.product_detail .wrapper div.left,.product_detail .wrapper div.right {
float:left;
width:50%;
}

div#our_dermatologists_wrapper .dr_list .dr_wrapper,.product_detail .wrapper,.category_description .wrapper,.concern ul.list_area {
padding:20px;
}

div#our_dermatologists_wrapper .main_dr div.image,.about .countrylist {
width:50%;
float:left;
}

.header.mobile .info_header .wrapper ul li,.header.mobile .links_header .wrapper ul li {
display:inline;
margin-right:10px;
font-size:12px;
}

.header.mobile .info_header .wrapper ul li.text div.txt,.header.mobile .links_header .wrapper ul li.text div.txt {
margin-top:-10px;
}

.header.mobile .links_header .wrapper ul li a,.green a {
color:#000;
}

.header.mobile .now_link a:link,.header.mobile .now_link a:visited,.header.mobile .products_link a:link,.header.mobile .products_link a:visited {
color:#000;
font-family:"Apercu Bold";
}

.header.desktop,.article .article_instagraam .caption,.product_detail .wrapper div.left div.picture_area div.padding_wrapper .slidesjs-pagination,.product_detail .wrapper div.right .description_area #product_how_to_use,.product_detail .wrapper div.right .description_area #product_ingredients {
display:none;
}

.article,.company,.filtering {
margin-bottom:15px;
}

.article .article_facebook .facebook_text .fb_text_wrapper,.company .border {
border:3px solid #000;
width:100%;
height:100%;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.color_area h4,.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area h4 {
position:absolute;
top:8px;
left:0;
font-size:12px;
font-weight:400;
font-family:"Apercu Bold";
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.color_area .dropdown a.current:hover,.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area .dropdown a.current:hover {
display:block;
border:1px solid #aaa;
background:url(/assets/arrow_down.png) 90px 13px no-repeat;
opacity:1;
color:#000;
}

div.footer div.wrapper a.logo_btn img,.filter_by .line_area div.dropdown.category_dropdown_box {
width:120px;
}

div.footer div.wrapper .mailinglist_footer.footer_content div.controls,div.footer div.wrapper .mailinglist_footer.footer_content div.form-actions {
margin-top:10px;
}

.concern ul.list_area li a,.concern ul.list_area li.active a:link,.concern ul.list_area li.active a:visited {
color:#FFF;
}

@media all and max-width 550px{
.popup_article {
opacity:1;
margin-bottom:20px;
}

.popup_article .ri .wrapper .text {
padding-bottom:20px;
}

.popup_article .lf img.modal_img {
width:100%;
}

.popup_article .ri .wrapper .info {
left:270px;
top:10px;
}

.store_wrapper {
max-width:487px;
margin:0 auto;
}

.store_wrapper .fl {
clear:both;
float:inherit;
margin-bottom:15px;
}

.header.mobile .info_header {
display:none;
}

.header.mobile .links_header {
right:auto;
left:0;
}

#history_carousel_wrapper {
width:487px;
height:400px;
margin:0 auto;
}

#history_carousel_wrapper #here_is_our_story {
top:-47px;
}

#history_carousel_wrapper #history_carousel .wrapper .text {
width:170px;
height:170px;
margin-left:-106px;
margin-top:-106px;
left:50%;
top:50%;
}

#history_carousel_wrapper #history_carousel .wrapper .text h4 {
font-size:20px;
}

#history_carousel_wrapper #history_carousel .wrapper .text p {
font-size:12px;
line-height:150%;
}

#history_carousel_wrapper div.pagination {
padding-left:33px;
width:400px;
}

div#how_all_it_began_wrapper {
width:487px;
margin:0 auto;
}

div#our_dermatologists_wrapper div#our_dermatologists {
top:-47px;
left:10px;
}

div#our_dermatologists_wrapper div.main_dr div.image img,div#our_dermatologists_wrapper div.desc div.image img {
width:247px;
height:247px;
}

div#our_dermatologists_wrapper div.desc {
margin:0;
}

.carousel,.size_3x2 {
width:487px;
height:321px;
}

.product_detail .wrapper {
padding:10px;
}

.product_detail .wrapper div.left,.product_detail .wrapper div.right {
clear:both;
width:100%;
}

.product_detail .wrapper div.left div.picture_area {
height:auto;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector {
height:80px;
margin-top:20px;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.color_area {
position:absolute;
width:200px;
left:0;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area {
position:absolute;
width:200px;
top:30px;
left:0;
}

.product_detail .wrapper div.left div.picture_area div.size_colorselector div.size_area div.dropdown {
position:absolute;
left:68px;
}

.product_detail .wrapper div.right div.tab ul li a {
letter-spacing:2px;
}

.product_detail .wrapper div.right .description_area {
height:inherit;
overflow-y:auto;
}

#md_product {
position:absolute;
width:90%;
height:auto;
left:0;
}

div.footer div.wrapper div.gettoknowus {
margin-right:0;
}

div.footer div.wrapper div.mailinglist_footer.footer_content {
margin-right:12px;
}

#history_carousel_wrapper #here_is_our_story img,div#how_all_it_began_wrapper #how_all_it_began img,div#our_dermatologists_wrapper div#our_dermatologists img,div#distribution_channel_wrapper div#distribution_channel img {
width:100px;
}

#history_carousel_wrapper #history_carousel,div#our_dermatologists_wrapper div.wrapper {
width:487px;
height:239px;
}

div#how_all_it_began_wrapper #how_all_it_began,div#distribution_channel_wrapper div#distribution_channel {
top:-47px;
right:10px;
}

div#how_all_it_began_wrapper div.wrapper,div#distribution_channel_wrapper .wrapper {
width:487px;
height:239px;
margin:0 auto;
}

div#how_all_it_began_wrapper div.wrapper img,div#our_dermatologists_wrapper div.wrapper img,div#distribution_channel_wrapper .wrapper img {
width:100%;
height:100%;
}

div#how_all_it_began_wrapper div.desc,div#our_dermatologists_wrapper div.main_dr,div#our_dermatologists_wrapper div.desc {
float:inherit;
width:100%;
}

div#our_dermatologists_wrapper,div#distribution_channel_wrapper {
width:487px;
margin:100px auto 0;
}
}

@media all and min-width 708px and max-width 768px{
.store_wrapper {
max-width:1000px;
margin:0 auto;
}

.store_wrapper .fl {
clear:both;
float:inherit;
margin-bottom:15px;
}

div.footer div.wrapper div.getsocial {
margin-right:0;
}

#history_carousel_wrapper {
width:738px;
height:465px;
margin:0 auto;
}

#history_carousel_wrapper #here_is_our_story {
top:-47px;
}

#history_carousel_wrapper #history_carousel .wrapper .text {
width:200px;
height:200px;
margin-left:-126px;
margin-top:-126px;
left:50%;
top:50%;
}

#history_carousel_wrapper #history_carousel .wrapper .text h4 {
font-size:24px;
}

#history_carousel_wrapper #history_carousel .wrapper .text p {
font-size:14px;
line-height:150%;
}

#history_carousel_wrapper div.pagination {
padding-left:33px;
width:400px;
}

div#how_all_it_began_wrapper {
width:738px;
margin:0 auto;
}

div#how_all_it_began_wrapper div.desc {
float:inherit;
width:100%;
}

div#our_dermatologists_wrapper div#our_dermatologists {
top:-47px;
left:10px;
}

div#our_dermatologists_wrapper div.dr_list div.wrapper {
width:100%;
}

div#our_dermatologists_wrapper div.main_dr,div#our_dermatologists_wrapper div.desc {
float:inherit;
width:494px;
margin:10px auto 0;
}

div#our_dermatologists_wrapper div.main_dr div.image img,div#our_dermatologists_wrapper div.desc div.image img {
width:247px;
height:247px;
}

div#our_dermatologists_wrapper div.desc {
width:494px;
margin:0 auto;
}

#history_carousel_wrapper #here_is_our_story img,div#how_all_it_began_wrapper #how_all_it_began img,div#our_dermatologists_wrapper div#our_dermatologists img,div#distribution_channel_wrapper div#distribution_channel img {
width:100px;
}

#history_carousel_wrapper #history_carousel,div#our_dermatologists_wrapper div.wrapper {
width:738px;
height:363px;
}

div#how_all_it_began_wrapper #how_all_it_began,div#distribution_channel_wrapper div#distribution_channel {
top:-47px;
right:10px;
}

div#how_all_it_began_wrapper div.wrapper,div#distribution_channel_wrapper .wrapper {
width:738px;
height:363px;
margin:0 auto;
}

div#how_all_it_began_wrapper div.wrapper img,div#our_dermatologists_wrapper div.wrapper img,div#distribution_channel_wrapper .wrapper img {
width:100%;
height:100%;
}

div#our_dermatologists_wrapper,div#distribution_channel_wrapper {
width:738px;
margin:100px auto 0;
}
}

@media all and min-width 1024px{
.store_wrapper {
max-width:1000px;
margin:0 auto;
}

.store_wrapper .fl {
float:left;
}
}